
<!--<footer class="page-footer font-small blue bg-primary shadow">
  <div class="footer-copyright text-center py-3">
    <div style="overflow: hidden;">
      <p style="float: left;margin-left: 20px;">© 2020 Copyright: <a href="/"> RV1Gstunduizmainas.com</a></p>
      <a style="float: right;margin-right: 20px;" href="http://r1g.edu.lv/" target="_blank">Skolas mājaslapa</a>
    </div>

  </div>
</footer>
-->

<div class="footer"> <!--bg-primary-->
  <div class="footer-content">

  </div>
  <div class="footer-bottom">
    <p>&copy; 2020 Copyright | Stundu izmaiņas RV1Ģ</p>
  </div>
</div>

<!--
<footer class="bg-primary text-white mb-0">
  <p>© 2020 Copyright: <a href="#"> RV1Gstunduizmainas.com</a></p>
</footer>
-->
